# vim: set shiftwidth=2 tabstop=2 softtabstop=-1 expandtab:

language: python

cache: pip

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install . -r requirements.txt
  - pip install codecov

script:
  - pytest

after_success:
  - codecov

deploy:
  - provider: releases
    api_key:
      secure: xK6FAt8f/8mznKfw8C8VWrN57/CreRtzXsiI2tpjxcP1UHHh3nTzbUG5v+02N4KVi5Bm0CZMNXTIYGy7obtHSakBbZ0vg9VzHGHojoyIdM/4j1zbSHZAuJue4OMT8US980IEsBK5/+pYu2NeraCEpI98NIEAidpAirwpWjMd0AeGH1nxhlKmm7b84oQ8ohjGum5D465wUEFVQz9o/5xtSN2O9V1A3eAg6p89rvhpgDAFBpfYd5w3b5xN3ipMWsg27WZ1xOpKRE5PVRbOZYqusYa3yoXzbKQJ875G5gieI6C54mh2QEtMOsPjQ7jsybh10Qqfy6wZMkcxkxSAkTxZK/09QAAHP+MO/Fujg0QQYWNBIJuipp+rB0IS6PhSRIFE6VCJ96ZMSCaZ8boAwKuh4JTV1wqcRyRczzHQ5KK4FCLWLWtRcNudGXkngQ8woM8t0uBW3meT8MKDuCHywr1GB6fWK7lUA43PFAaoBKlHcPslMzNwrYU0yGLvEocTWJ+zK8Lgy0vrtUsyukV/nTsb9KAyCw1uvtwvxjm72OHHnc6JoO7NJWxJCJjv6dDQmmjaFk4j1do/GOx2Vh3kDXZL97/XnWQWu0RuSQKdS0fiw/hz9pgbStHUoW3r4H3X+0l1cV/bRS/boNdzqZ4PTP5Ipyev0+yW+5vpgmJi0IzVZMk=
    on:
      repo: yanqd0/csft
      branch: master
      tags: true
      python: "3.6"
  - provider: pypi
    server: https://upload.pypi.org/legacy/
    distributions: "sdist"
    user: yanqd0
    password:
      secure: Mh1+Tx0WmzKXxzTqXWAsmNEDO/loJlR/Xt+rPljQ43lBiIJrEOs3xYe4S7+FHoVsuHGlmu3IronIsrdNCYzY5myOgqae8kBcDqmxw/R7k7eeBYno2c+IgCEh50A0iAO+FXzKjZKTB+TQciQAdpwxdDoxsoH86YLxQxhUReIDQdttVkaq3abU0RS4D7jKUSS+F7ImaMvdJwux4V6ffNONU26M7U9UG8U3sYeI0ggHYCCI5hh1LoMImADkuA8UlIZmC+jfhCMhPpFKdikDRBFS2CTTXH1EE0onka4ihJwPMGRvbu92424NaQBtl8dWXdSuUJs3gjJsPzMoSw0svD+S67VISgDpThyexQHf3jBrXLpXUBkK23sWpIeBa29W+xRfYfBaBiBHIYARWk3Ss6zSq7Nm0gOVHr8vh6YcKF5e9m9daIcMJjAtOpz+hh7IOZbF+GfI6O8OPaYymsvxcbmuCASZMMHQDgrKEI8dr7IbZrFKLJdTPlr7XYbbfsmp3EQm06BGz/4gdZizjEI3A7ewC9y7pJxxNCAncASo9xNKxyVWFYp5UnUCywevLXwOdps21xK1KvmuJvMZCt9HW4iPjYwBgQuz+flW5lktjixe9uJCASlknPKZcx+XMhe3ek5SIbY9Edv6aGDqu8qBV9ySmFHxD6Ap+yCEUaENVQO3M7E=
    on:
      repo: yanqd0/csft
      branch: master
      tags: true
      python: "3.6"
